<!DOCTYPE html>
<html>
    <head>
        <title>AmKart</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>


    <div id="landing-header">
        <h1>Welcome to AmKart!</h1>
        <a href="/groceries" class="btn btn-info"><span>Groceries</span></a>
        <a href="/electronics" class="btn btn-info"><span>Electronics</span></a>
        <a href="/clothing" class="btn btn-info"><span>Clothing</span></a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <%- include("./partials/footer") %>